.sections {
  #main-section {
    .main-section__heading {
      .page-not-found-header {
        text-align: center;
      }

      .page-not-found-link {
        color: $text-color;
        font-family: $text-font;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.25em;
        padding: 1rem 0 0;
        text-align: center;
        text-transform: none;

        a {
          border-bottom: 1px dotted hsla(0, 0%, 63%, 0.65);
          color: inherit;
          font-family: $text-font;
          text-decoration: none;
          margin-left: 0.5rem;

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}
